


    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
                <div class="dashboard-title" for="c0"> <a href="/">Home</a> </div>
            <ul class="nav tree" id="side-menu">
                
                   <!--  <li><label class="tree_label tree_custom home" for=""> SEM PROCESS FLOW</label> </li> -->
                <li>
                    
                    <ul>
                         
                        <% for (var i = 0; i < campaign.length; i++) { %>
                        <li>
                            <input type="checkbox" id="campaign<%= i %>" />
                            <label for="campaign<%= i %>" class="tree_parent">
                                <%= campaign[i].name %></label>
                            <ul class="file">
                                <% for (var j = 0; j < campaign[i].list.length; j++) { %>
                                <li><span class="tree_sublabel"><a class="viewload" href="/campaign/<%= campaign[i].name %>/<%= campaign[i].list[j] %>">
                                            <%= campaign[i].list[j].split('.').slice(0, -1).join('.') %></a>
                                    </span></li>
                                <% } %>
                            </ul>
                        </li>
                        <% } %>


                        

            </ul>

</li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
